#settings {
  padding: 3rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(5, 1fr);
}

#settings .module.language button {
  margin: 2rem 0 0;
  font-size: 16px;
}

#settings .module .description {
  font-size: 14px;
  margin: 0 0 1rem;
  color: rgba(0, 0, 0, 0.8);
}

#settings.dark-mode .module .description {
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1500px) {
  #settings {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  #settings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  #settings {
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  #settings .sub-header {
    margin: 0 0 1rem;
  }
}



#settings .module .list.settings li {
  height: unset;
  padding: 5px 0;
  margin: 0 0 7px;
}

#settings .module .list.settings li .check-box {
  width: 100%;
}

