#settings {
  padding: 3rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(5, 1fr);
}

#settings .sub-header {
  border-bottom: 2px solid #6d6d6d;
  color: #6d6d6d;
}

#settings .module.language .list:nth-child(3) {
  margin: 2rem 0 0;
}

@media screen and (max-width: 1500px) {
  #settings {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  #settings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  #settings {
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  #settings .sub-header {
    margin: 0 0 1rem;
  }
}



#settings .module .list.settings li {
  height: unset;
  padding: 5px 0;
  margin: 0 0 7px;
}

#settings .module .list.settings li .check-box {
  width: 100%;
}

#settings .module .list.settings li .check-box .check {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
}

#settings .module .list.settings li .check-box .text {
  color: rgba(0, 0, 0, 0.8);
}








#settings.dark-mode .sub-header {
  border-bottom: 2px solid #888888;
  color: #afafaf;
}

#settings .module .list.settings li .check-box .check {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}

#settings .module .list.settings li .check-box .text {
  color: rgba(255, 255, 255, 0.8);
}