#notification-progress {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 14px;
  user-select: none;
  opacity: 0;
  animation: animation-notification-progress-in 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

#notification-progress > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes animation-notification-progress-in {
  from {
    opacity: 0;
    transform: scale(2) translateY(200px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes animation-notification-progress-out {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(2) translateY(200px);
  }
}

#notification-progress.timedOut {
  animation: animation-notification-progress-out 2.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  pointer-events: none;
}

#notification-progress .type {
  position: absolute;
  top: -0.75rem;
  left: 0;
  width: 100%;
  z-index: 2;
  display: grid;
  justify-content: center;
  display: none;
}

#notification-progress .type .text {
  height: 1.5rem;
  padding: 0 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(165, 165, 165, 0.8);
  color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7px) brightness(1);
  text-transform: uppercase;
  letter-spacing: 4px;
}

#notification-progress .item {
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  background: radial-gradient(ellipse farthest-corner at 50% 100%, rgba(165, 165, 165, 1) 0%, rgba(135, 135, 135, 0) 100%);
  padding: 1rem 3rem;
  flex-basis: 100%;
}

html.backdropfilter #notification-progress .item {
  backdrop-filter: blur(7px) brightness(1);
}



#notification-progress .item .properties {
  display: grid;
  grid-template-columns: 1fr 72px 1fr;
  grid-gap: 2rem;
  flex-basis: 100%;
}

#notification-progress .item .properties .name {
  display: grid;
  align-items: center;
  justify-content: right;
  font-size: 24px;
  font-weight: 500;
}

#notification-progress .item .properties .icon {
  position: relative;
  width: 72px;
  height: 72px;
}

#notification-progress .item .properties .description {
  display: grid;
  align-items: center;
  font-size: 18px;
}






#notification-progress.record .type .text {
  background-color: rgba(90, 163, 102, 0.8);
}

#notification-progress.record .item {
  background: radial-gradient(ellipse farthest-corner at 50% 100%, rgba(90, 163, 102, 1) 0%, rgba(135, 135, 135, 0) 100%);
}




@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 500px) {
  #notification-progress .item {
    padding: 1rem 2rem;
  }

  #notification-progress .item .properties {
    grid-template-columns: calc(48px + 1rem) 1fr;
    grid-gap: 0.2rem;
  }

  #notification-progress .item .properties .name {
    grid-column: 2/3;
    font-size: 16px;
    justify-content: left;
  }

  #notification-progress .item .properties .icon {
    width: 48px;
    height: 48px;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  #notification-progress .item .properties .description {
    font-size: 14px;
  }
}
