#header.isIndex {
  position: sticky;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
  
}

#header.dark-mode .braytech {
  background-color: #0f0f0f;
  color: rgba(255, 255, 255, 0.8);
}

#header.dark-mode .views ul li a {
  color: rgba(255, 255, 255, 0.6);
}

#header.dark-mode .views ul li a.active {
  color: rgb(255, 255, 255);
}

#header.dark-mode .views ul li a::before {
  background-color: rgb(255, 255, 255);
}

#header.dark-mode .views ul li a:hover {
  color: rgb(255, 255, 255);
}

#header.dark-mode .views ul li a.active:hover {
  color: rgb(255, 255, 255);
}

